.breadcrumb {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 12px;

    li {
        float: left;
        &::after {
            content: '>';
            padding: 0 5px;
        }

        &:last-child {
            
            &::after {
                display: none;
            }
        }
    }
}

.post-info {
    font-size: 12px;
    display: block;
    margin-top: -25px;
    margin-bottom: 70px;
    text-align: center;

    span {
        margin: 0 2px;
    }
}