.form {

    fieldset,
    .input-group {
        border: 0 none;
        //display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    fieldset {
        margin-bottom: 20px;
    }

    .input-group {
        border: 0 none;
        //display: flex;
        flex-wrap: wrap;
        width: 100%;

        .formkit-outer {
            //width: 50%;
            margin-bottom: 20px;
            flex: 0 0 calc(50% - 10px);
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .input-group3 {
        border: 0 none;
        //display: flex;
        flex-wrap: wrap;
        width: 100%;

        .formkit-outer {
            margin-bottom: 20px;
            //flex: 0 0 calc(34% - 10px);
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .formkit-outer {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 15px;
        font-family: var(--title-font);
        text-transform: uppercase;
    }
    
    label {
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 5px;
        display: flex;
        font-family: var(--title-font);
    }

    input,
    select,
    textarea {
        border: 0 none;
        font-size: 16px;
        background-color: hsla(9, 35%, 47%, .1);
        padding: 12px 10px;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        position: relative;

        &:focus,
        &:focus-visible {
            outline: none;
            //border-bottom: 2px solid var(--primary-color);
        }
    }

    select {
        cursor: pointer;
    }

    .formkit-inner {
        position: relative;
        
        &::before {
            content: "";
            display: block;
            width: 0;
            transition: .3s all ease;
            height: 2px;
            background-color: var(--primary-color);
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &:has(> input:focus ) {
            
            &::before {
                width: 100%;
                left: 0;
            }
        }
    }

    input[type=checkbox] {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

    textarea {
        min-height: 130px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
      /* remove arrow */
      appearance: none;
      /* add some padding for image */
      padding-right: 15px; 
      /* apply SVG with arrow */
      /* change width value to move arrow to the left */
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 15 15"><path d="M 8,5.5 11,9.5 14,5.5 z"></path></svg>');
      background-repeat: no-repeat;
      background-position: center right;
    }
}

.bt-add {
padding: 12px 14px;
width: 100%;
display: block;
border: 0 none;
text-align: left;
cursor: pointer;
margin-bottom: 20px;
position: relative;
font-weight: 600;
height: 42px;
transition: .4s all ease;

    &::after {
        background: var(--red) url(~/assets/images/plus.svg) center no-repeat;
        background-size: 14px 14px;
        content: "";
        width: 42px;
        height: 42px;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s all ease;
    }

    &:hover {
        &::after {
            opacity: .6;
        }
    }
}

.bt-remove {
    background: var(--red) url(~/assets/images/trash.svg) center no-repeat;
    background-size: 14px 14px;
    height: 42px;
    width: 42px;
    display: block;
    border: 0 none;
    text-align: right;
    cursor: pointer;
    margin-bottom: 0;
    @include hide-text;
    transition: .4s all ease;

    &:hover {
        opacity: .6;
    }
}

.exp-profissional {
    transition: .4s all ease;
    margin-bottom: 10px;

input,
textarea {
    background-color: #FFF;
}
} 

.exp-profissional:has(> .bt-remove:hover) {
    padding: 0 15px;
    background-color: rgba(255, 0, 0, 0.196);
}

.reverse-order {
    display: flex;
    flex-direction: column-reverse;
}

.exp-header {
cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp-content {
    background-color: #f0f0f0;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 0;
}

.content-inner {
    padding: 10px;
}

.exp-content.open {
    height: 657px;
}

.exp-academica {
    margin-bottom: 10px;

    .exp-content.open {
        height: 613px;
    }
}

.exp-curso {
    margin-bottom: 10px;

    .exp-content.open {
        height: 355px;
    }    
}

.idioma {
    margin-bottom: 10px;

    .exp-content.open {
        height: 177px;
    }    
}

.referencia {
    margin-bottom: 10px;

    .exp-content.open {
        height: 355px;
    }    
}

.portfolio {
    margin-bottom: 10px;

    .exp-content.open {
        height: 263px;
    }

    .url {
        font-size: 11pt;
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.3em;
        margin-bottom: 4px;
    }
}

.title-exp {
    padding: 10px 10px 10px 40px;
    margin: 0;
    position: relative;

    &::before {
        content: "";
        background: url(~/assets/images/chevron-down-solid.svg) center no-repeat;
        background-size: 14px 14px;
        height: 42px;
        width: 42px;
        position: absolute;
        left: 0;
        top: 0;
        transition: .4s all ease;
    }
    .open & {
        &::before {
            transform: rotate(-180deg);

        }
    }
}

