.the-header {
    background: var(--primary-color);
    
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 0 30px 40px;
    width: 100%;
    margin-left: -40px;
    box-sizing: content-box;
    
    @include breakpoint(sm) {
        margin: 0 -15px;
        padding: 30px 15px 30px 15px;

    }

    .content {
        float: left;
    }
}

.title-group {
    margin: 0;

    h1 {
        font-size: 45px;
        margin: 0 0 0;
        text-transform: uppercase;
        font-family: var(--title-font);
        letter-spacing: -1px;
        font-weight: 700;
        color: #000;
        line-height: 1.3em;

        a {
            text-decoration: none;
        }

        @include breakpoint(xs) {
            font-size: 44px;
            letter-spacing: -1px;
        }
    }

    h2 {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 30px;

        @include breakpoint(xs) {
            font-size: 14px;
            margin: 0;
        }
    }
}

.ilustra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    img {
        display: block;
        width: 100%;
        max-width: 538px;
    }
}

mark {
    background-color: #fff;
}
