.separator {
    max-width: 200px;
    border: 0 none;
    border-bottom: 1px solid #e0dfdf;
    position: relative;
    display: block;
    height: 1px;
    
    &::before,
    &::after {
        background-color: #FFF;
        border: 1px solid #FFF;
        display: block;
        content: "";
        height: 12px;
        position: absolute;
        top: calc( 50% - 6px );
        transform: rotate( 45deg );
        width: 12px;
        box-sizing: border-box;
    }

    &::before {
        left: calc( 50% - 18px );
    }

    &::after {
        left: calc( 50% + 2px );
    }

    @include print {
        display: none;
    }
}

.animate-ico {
    background: url('/img/icon-passaro.png') no-repeat;
    width: 78px;
    height: 65px;
}