
:root {

    --white: #ffffff;

    --yellow: #F4B216;
    --blue: #57C6D4;
    --red-light: #F06541;
    --red: hsl(9, 35%, 47%);

    --primary-color: var(--red);
    --text-color: #000;

    --primary-font: "PT Sans", sans-serif;
    --title-font: 'Share', sans-serif;
}